.rail-carousel {
  position: relative;
}

.rail-carousel .next,
.rail-carousel .prev {
  position: absolute;
  top: 50%;
  background-color: transparent;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border: solid #000;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}
.rail-carousel .prev {
  left: 10px;
  border-width: 0 0 5px 5px;
}
.rail-carousel .next {
  right: 10px;
  border-width: 5px 5px 0 0;
}

.rail-carousel .items-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}

/* Translate happens on this element */
/* This element has the long width of total items */
.rail-carousel .items-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 350ms ease;
}

.rail-carousel .items-group {
  height: 100%;
  min-height: 1px;
  float: left;
}

.rail-carousel .item {
  float: left;
  height: 100%;
  min-height: 1px;
}

.rail-carousel .dots {
  text-align: center;
}
